---
import Layout from '../layouts/Layout.astro';
import ImageGallery from '../components/ImageGallery.vue';
---

<Layout title="Image Gallery">
  <main>
    <ImageGallery client:load />
  </main>
</Layout>